*{
   margin: 0px;
   padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 9, 9);
    padding: 10px;
    align-items: center;
}
.menues{
    display: flex;
    list-style: none;
    color: white;
    gap: 20px;
    font-style: italic;
    font-size: 17px;
    cursor: pointer;
}
.item:hover{
    color: black;
}
.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-img{
    width: 450px;
    height: 600px;
    padding-top: 100px;
    padding-right: 200px;
}
.banner-info{
    text-align: left;
    padding-left: 250px;
    padding-top: 120px;
}
.banner-heading{
    width: 700px;
    flex-direction: column;
    color: #272727;
    font-size: 60px;
    font-weight: 800px;
    padding-bottom: 25px;
}
.banner-description{
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}
.banner-button{
    padding: 15px 25px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.banner-button:hover{
    color: rgb(53, 9, 9);
}
